<main class="artisan d-flex flex-column justify-content-center align-items-center px-4 px-sm-3">
    <section class="artisan__details-container w-100 d-flex flex-column">
        <div class="artisan__header d-flex flex-column flex-sm-row align-items-sm-center justify-content-between">
            <h1 class="artisan__title">{{ artisan.name }}</h1>
            <div class="artisan__rate d-flex justify-content-end">
                <p class="artisan__rate-note">{{ artisan.note }}</p>
                <div class="artisan__rate-stars d-flex justify-content-between align-items-center">
                    <ng-container *ngFor="let star of (rate)">
                        <i class="{{star}}"></i>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="artisan__details d-flex flex-column flex-md-row justify-content-between">
            <div class="artisan__info d-flex flex-column w-100">
                <p class="artisan__detail">Spécialité : <strong>{{ artisan.specialty }}</strong></p>
                <p class="artisan__detail">Localisation : <strong>{{ artisan.location }}</strong></p>
                <p class="artisan__detail" *ngIf="artisan.website">website : <strong><a href="{{ artisan.website }}" target="_blank" class="text-reset" >{{ artisan.website.slice(8) }}</a></strong></p>                
            </div>

            <article class="artisan__about w-100 d-flex flex-column">
                <h2 class="artisan__about-title">À propos :</h2>
                <p class="artisan__about-text">{{ artisan.about }}</p>
            </article>
        </div>
    </section>

    <app-contact-form class="w-100 d-flex justify-content-center align-items-center" [artisanMail]="artisan.email" ></app-contact-form>
</main>
