<footer class="footer d-flex justify-content-center align-items-center px-sm-5">
    <div class="footer__container d-flex flex-column justify-content-start">
        <div class="footer__logo-container d-flex justify-content-center justify-content-md-start align-items-center">
            <img [routerLink]="['home']" class="footer__logo" src="assets/img/LogoV1.png" alt="logo trouve ton artisan avec la region Auvergne-Rhône-Alpes">
        </div>
        <section class="footer__links d-flex justify-content-md-center flex-md-row flex-column align-items-center">
            <div class="footer__column">
                <h5 class="footer__title">Liens utiles</h5>
                <ul class="footer__list">
                    <li class="footer_item" ><a class="footer_item-link"  [routerLink]="['legal-notice']" >mentions légales</a></li>
                    <li class="footer_item"><a class="footer_item-link" [routerLink]="['personal-data']" >données personnelles</a></li>
                    <li class="footer_item"><a class="footer_item-link" [routerLink]="['accessibly']" >accessibilité</a></li>
                    <li class="footer_item"><a class="footer_item-link" [routerLink]="['cookies']">cookies</a></li>
                </ul>
            </div>

            <div class="footer__column">
                <h5 class="footer__title">Lyon</h5>
                <ul class="footer__list">
                    <li class="footer_item"><a class="footer_item-link" href="https://maps.app.goo.gl/rkMS8gKbY3JjEMFU6" target="_blank">101 cours Charlemagne CS 20033 69269 LYON CEDEX 02 France</a></li>
                    <li class="footer_item"><a class="footer_item-link" href="tel:+330426734000">+33 (0)4 26 73 40 00</a></li>
                </ul>
            </div>
        </section>
    </div>
</footer>
 