.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: auto;
    background-color: #384050; 
}

.footer__column{
    width: 100%;
    height: auto;
}

.footer__title{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 500 ;
}

.footer_item{
    color: #fff;
}

.footer_item-link{
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
}


.footer_item-link:hover {
    text-decoration: solid underline #fff;
}
