.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    background-color: #384050; 
}

.footer__column {
    width: 450px;
    padding-inline: 120px;
}

.footer__title {
    color: #fff;
    font-size: 1rem;
    font-weight: 500 ;
}

.footer_item {
    color: #fff;
}

.footer_item-link {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}


.footer_item-link:hover {
    text-decoration: solid underline #fff;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 10px;
  }
  
.social-media a {
    text-decoration: none;
  }

.social-media a:hover {
    opacity: 0.5;
}
  
.social-media a img {
    width: 30px;  
    height: 30px; 
  }
