p{
    margin: 0;
}
.contact-form{
    max-width: 792px;
    background-color: #f1f8fc;
    row-gap: 10px;
    padding: 24px 48px;
    border-radius: 15px;
    box-shadow: 9px 20px 20px rgba(0, 0, 0, 0.25);
}

.contact-form__title{
    color: #0074c7;
    font-size: 2rem;
    font-weight: 500;
}

.contact-form__error{
  font-size: 1.25rem;
  color: #cd2c2e;  
  text-align: start;
}

.contact-form__form{
    row-gap: 10px;
}

.contact-form__label{
    color: #00497c;
    font-size: 1rem;
    font-weight: 600;
} 

.contact-form__input{
    height: 35px;
    padding: 10px 10px;
    border: solid #0074c7 1px;
    border-radius: 10px;
}

.contact-form__textarea{
    padding: 10px 10px;
    border: solid #0074c7 1px;
    border-radius: 10px;
    resize: none;
    min-height: 300px;
}

.empty-field{
  background-color: #cd2c2f1a;
  border-color: #CD2C2E;
}

.contact-form__submit{
    font-family: inherit;
    font-size: 20px;
    background: #0074c7;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.contact-form__submit-span{
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.contact-form__submit svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  .contact-form__submit:hover{
    background: #00497c;
  }

  .svg-wrapper{
    display: block;
  }
  
  .contact-form__submit:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .contact-form__submit:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .contact-form__submit:hover .contact-form__submit-span {
    transform: translateX(5em);
  }
  
  .contact-form__submit:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

  .shake{
    animation: shake 0.2s;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  