.modal{
    --bs-modal-bg: #f1f8fc;
}

.modal-backdrop{
  z-index: -1000;
  background-color: rgba(0, 0, 0, 0.548);
}

.modal-header{
    border-bottom: none
}

.modal-message{
    font-size: 1.5rem;
}

.ok{
  color:#82b864 ;
}

.error{
  color: #cd2c2e;
}

.spinner {
    --size: 30px;
    --color: #0074c7;
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  .spinner::after,.spinner::before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    width: var(--size);
    height: var(--size);
    top: 50%;
    animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
    left: 50%;
    background: var(--color);
    box-shadow: 0 0 calc(var(--size) / 3) #00497c;
  }
  
  .spinner::after {
    background: var(--color);
    top: calc(50% - var(--size));
    left: calc(50% - var(--size));
    animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  }
  
  @keyframes down {
    0%, 100% {
      transform: none;
    }
  
    25% {
      transform: translateX(100%);
    }
  
    50% {
      transform: translateX(100%) translateY(100%);
    }
  
    75% {
      transform: translateY(100%);
    }
  }
  
  @keyframes up {
    0%, 100% {
      transform: none;
    }
  
    25% {
      transform: translateX(-100%);
    }
  
    50% {
      transform: translateX(-100%) translateY(-100%);
    }
  
    75% {
      transform: translateY(-100%);
    }
  }