
.home__guide{
    max-width: 55%;
    background-color: #0074c7;
    padding: 24px;
    border-radius: 0 15px 15px 15px;
    box-shadow: 9px 20px 20px rgba(0, 0, 0, 0.55);
}

.home__guide-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f1f8fc;
}

.home__artisan-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #00497c;
}

.home__guide-list{
    max-width: 548px;
}

.home__guide-item{
    color: #f1f8fc;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 21px;
}

.home__artisan-section{
    max-width: 996px;
    row-gap: 10px;
    padding: 8px 2px;
}

.home__artisan-highlighted{
    column-gap: 10px;
    row-gap: 24px;
    padding: 10px;
}

 