.notFound__section{
    row-gap: 35px;
}

.notFound__img{
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    width: auto;
}

.notFound__title{
    font-size: 4rem;
    color: #0074c7 ;
}

.notFound__subtitle{
    font-size: 3rem;
    color: #00497c;
}

