<main class="notFound">
    <section class="notFound__section d-flex flex-column justify-content-center align-items-center">
        <img class="notFound__img " src="assets/img/noResult.png" alt="Personne perplexe devant un écran d'ordinateur affichant des icônes de fichier manquant, d'interrogation et d'erreur, symbolisant l'absence de résultat ou de contenu introuvable.">
        <h1 class="notFound__title" >404</h1>
        <h2 class="notFound__subtitle text-center" >Ooops! Cette page est introuvable.</h2>
    </section>
</main>
